<style>
    .table td, .table th { vertical-align: middle; }
</style>

{{#if productos.length}}
    <h2 class='text-center'>Lista de Productos</h2>
    <div class='table-responsive'>
        <table class='table table-dark'>
            <tr>
                <th class='text-center'>Nombre</th>
                <th class='text-center'>Precio</th>
                <th class='text-center'>Foto</th>
            </tr>
            {{#each productos}}
                <div>
                    <tr class='form-group'>
                        <td class='m-4 text-center'>{{this.nombre}}</td>
                        <td class='m-4 text-center'>{{this.precio}}</td>
                        <td class='m-4 text-center'>
                            <img src={{this.foto}} alt='product' style='width: 40px;' />
                        </td>
                    </tr>
                </div>
            {{/each}}
        </table>
    </div>
{{/if}}